.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 9em);
  grid-template-rows: repeat(3, 9em);
  margin-bottom: 0.3em;
}
.select-symbol {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
}
.select-symbol-title {
  font-size: 2em;
  padding-top: 0.5em;
  font-weight: 550;
  margin: 0;
}
.symbol {
  display: inline-block;
  border: 0.05em solid #f3f3e7;
  padding: 0 0.5em;
  font-size: 3.5em;
  margin: 0.3em;
  border-radius: 0.1em;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 5px 15px rgb(95, 93, 93);
}
.symbol:hover {
  box-shadow: 0 10px 30px rgb(95, 93, 93);
  transform: scale(1.1);
  transition: all ease 500ms;
}
.title {
  justify-content: center;
  text-align: center;
  padding: 0.5em 0 0.3em 0;
  font-weight: 500;
  font-size: 2.7em;
}
.right-confetti-wrapper {
  margin-left: 0;
}
.left-confetti-wrapper {
  margin-left: 18em;
}
.options {
  text-align: center;
  justify-content: center;
}
.game-info {
  font-size: 2.5em;
  font-weight: 500;
}
.btn {
  padding: 0.3em 0.6em;
  border-radius: 0.5em;
  border: 0.15em solid #434e52;
  font-family: inherit;
  color: inherit;
  font-size: 2em;
  display: inline;
  cursor: pointer;
  background: transparent;
  outline: none;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn:hover {
  background: #434e52;
  color: #f3f3e7;
  transform: scale(1.05);
  animation: topBubbles ease-in-out 0.75s forwards;
}

.deleteBtn {
  cursor: pointer;
  padding-left: 0.6em;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.deleteBtn:hover {
  transform: scale(1.1);
}
.fas.fa-trophy {
  color: #f0bc3a;
  outline: none;
}

@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(3, 6em);
    grid-template-rows: repeat(3, 6em);
    padding-bottom: 1em;
  }
  .symbol {
    font-size: 2em;
  }
  .select-symbol-title {
    font-size: 1.1em;
    padding-top: 4.5em;
  }
  .title {
    padding: 2em 0 1em 0;
  }
  .btn {
    margin-top: 0.5em;
  }
  .right-confetti-wrapper {
    margin-left: -7em;
  }
}
