.board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 9em);
  grid-template-rows: repeat(3, 9em);
}
.select-symbol {
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  padding: 2.2em 0;
}
.symbol {
  background: transparent;
  border: 1px solid white;
  display: inline-block;
  font-size: 2em;
  padding: 0.05em 0.3em;
  margin: 0.3em;
  border-radius: 0.1em;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.symbol:hover {
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.1);
  transition: all ease 500ms;
}
.title {
  margin: auto;
  width: fit-content;
  border-radius: 0.5em;
  justify-content: center;
  text-align: center;
  padding: 0.8em;
  font-weight: 500;
  font-size: 2em;
}
.game-info {
  font-size: 2.5em;
  font-weight: 500;
  padding: 0.5em;
}
.btn {
  padding: 0.3em 1em;
  border-radius: 0.5em;
  border: 1px solid;
  color: white;
  font-family: inherit;
  font-size: 2em;
  cursor: pointer;
  background: transparent;
  color: white;
}
.btn:hover {
  background: white;
  color: rgb(47, 209, 174);
}
.icon {
  display: inline;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
}
.options {
  text-align: center;
  margin: 0.5em;
}
@media (max-width: 567px) {
  .board {
    grid-template-columns: repeat(3, 7em);
    grid-template-rows: repeat(3, 7em);
  }
}
