.square {
  border: 0.03em solid #434e52;
  margin: 2px;
  color: transparent;
  background: #f3f3e7;
  opacity: 0.9;
  display: flex;
  font-size: 8em;
  border-radius: 0.15em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.square:hover {
  opacity: 1;
}
.x {
  background: #e6493e;
  color: #f3f3e7;
}
.x:hover {
  background: #d83b2f;
}
.x-placeholder {
  color: #e6493e;
}
.o {
  background: #29c97e;
  color: #f3f3e7;
}
.o:hover {
  background: #26b472;
}
.o-placeholder {
  color: #29c97e;
}
.highlight {
  animation: pulse 1.5s infinite;
  animation-timing-function: linear;
  background: #f0cd74;
}
.highlight:hover {
  background: #f0cd74;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .square {
    font-size: 6em;
  }
}
